<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jornah.dao.ArticleDao">

    <!--表名-->
    <!--文章表列名-->
    <sql id="BASE_TABLE">
        t_contents
    </sql>

    <!--用户表-->
    <sql id="BASE_COLUMN">
        c.cid, c.title, c.titlePic, c.slug, c.created, c.modified, c.article, c.authorId,
        c.type, c.status, c.tags, c.categories, c.hits, c.commentsNum, c.allowComment,
        c.allowPing, c.allowFeed, c.orderWeight
    </sql>

    <!--添加文章-->
    <sql id="TABLE_USER">
        <include refid="com.jornah.dao.UserDao.BASE_TABLE"/>
    </sql>

    <!--根据文章ID获取文章信息-->
    <insert id="addArticle" parameterType="com.jornah.model.newP.Article" useGeneratedKeys="true" keyProperty="cid">
        INSERT INTO
          <include refid="BASE_TABLE"/>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            title, titlePic, slug, created,modified, article, authorId,
            type, status, tags, categories, hits, commentsNum, allowComment,
            allowPing, allowFeed ,orderWeight
        </trim>
        <trim prefix="VALUES(" suffix=")" suffixOverrides=",">
            #{title, jdbcType=VARCHAR},
            #{titlePic, jdbcType=VARCHAR},
            #{slug, jdbcType=VARCHAR},
            NOW(),
            NOW(),
            #{article, jdbcType=LONGVARCHAR},
            #{authorId, jdbcType=INTEGER},
            #{type, jdbcType=VARCHAR},
            #{status, jdbcType=VARCHAR},
            #{tags, jdbcType=VARCHAR},
            #{categories, jdbcType=VARCHAR},
            #{hits, jdbcType=INTEGER},
            #{commentsNum, jdbcType=INTEGER},
            #{allowComment, jdbcType=INTEGER},
            #{allowPing, jdbcType=INTEGER},
            #{allowFeed, jdbcType=INTEGER},
            #{orderWeight, jdbcType=INTEGER}
        </trim>
    </insert>

    <!--删除文章-->
    <delete id="deleteArticleById">
        DELETE FROM
          <include refid="BASE_TABLE"/>
        WHERE
          cid = #{cid, jdbcType=INTEGER}
    </delete>

    <!--获取文章总数-->
    <select id="getArticleCount" resultType="java.lang.Long">
        SELECT
          COUNT(*)
        FROM
          <include refid="BASE_TABLE"/>
    </select>

    <!--通过标签获取 文章-->
    <select id="getArticleByTags" resultType="com.jornah.model.newP.Article">
        SELECT
          <include refid="BASE_COLUMN"/>
        FROM
          <include refid="BASE_TABLE"/> AS c
        WHERE
          c.cid IN
        <foreach collection="list" item="param" index="index" open="(" close=")" separator=",">
            #{param.cid, jdbcType=INTEGER}
        </foreach>
    </select>
    <select id="findAll" resultType="com.jornah.model.newP.Article">
        SELECT
          <include refid="BASE_COLUMN"/>
        FROM
          <include refid="BASE_TABLE"/> AS c
    </select>
</mapper>
